html{
  background-color: #;
}
header h1{
  margin: 0;
  border-top: 0;
  padding-top: 0;
  padding-left: 15px;
  font-size: 2.3em;
  color: white;
  z-index: 2;
  position: fixed;
  font-weight: 400;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  top: 9px;
}
.photography{
  margin-left: 125px;
  background-color: #4CAF50;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
}
body {
  margin:0px;
  background-image: url(cartographer_@2X.png);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
li {
    float: right;
}
li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

.gallery {
  z-index: -1;
  padding: 4%;
}
.gallery figure {
  display: inline-block;
  width: 300px;
  height: 210px;
  margin: 15px;
  position: relative;
}
.gallery figcaption {
  position: absolute;
  top: 17%;
  bottom: 21%;
  left: 0;
  right: 0;
  background-color: #4CAF50;
  padding: 59px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  opacity: 0;
  transition: opacity .75s ease-out;
  font-size: 10px;
  text-align: center;
}
.gallery figure:hover figcaption {
  opacity: 1;
}
.main{
  background-color: #4CAF50;
  margin: 70px;
  top: 12%;
  padding:10px;
  border-radius: 10px;
}
footer{
    background-color: #333;
    padding: 0px;
    margin: 0px;
    color: white;
    padding-left: 15px;
}
